.white-text{
    color:white;
}

.card-deck{
    justify-content: center;
    display:flex;
    height:auto;
}

.card{
    width:200px;
    height:450px;
    margin-bottom: 2%;
}

.artistFeatured{
    margin-bottom: 100px !important;
}

.card-img-top{
    width:180px;
    height:180px;
}

.margin{
    height:50px;
    margin: 50px;
}