.white-text{
    color:white;
}

.card-deck{
    justify-content: center;
    display:flex;
    height:auto;
}

.card{
    width:200px;
    height:auto;
    
}

.artistFeatured{
    margin-bottom: 10%;
}

.card-img-top{
    width:180px;
    height:180px;
}